<HTML>
	<HEAD>
		
	</HEAD>
	<BODY>
		Hey! We have initiated a uber booking on your behalf. You will be getting notifications on behalf of "UBER" for the same. Current UBER booking status for <%= @pnr %> is <%= @status %>
	</BODY>
</HTML>
