<!DOCTYPE html>
<style>
@font-face {
	font-family: 'YanoneKaffeesatzRegular';
	src: url('./fonts/yanonekaffeesatz-regular-webfont.eot');
	src: url('./fonts/yanonekaffeesatz-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('./fonts/yanonekaffeesatz-regular-webfont.woff') format('woff'),
	url('./fonts/yanonekaffeesatz-regular-webfont.ttf') format('truetype'),
	url('./fonts/yanonekaffeesatz-regular-webfont.svg#YanoneKaffeesatzRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
</style>

	<div id="wrap">
		<h1>Ride2Rail!</h1>
		<div id='form_wrap'>
			<form id="contact-form" action="javascript:alert('success!');">

		<p id="formstatus"></p>
				<p>Thanks,<br /> we have recieved your ride request.However, actual reservation will be placed as per scheduled journey.
				We'll keep you posted !</p>
			</form>
		</div>
	</div>
